{% set contact = config.extra.contact %}
{% set links = config.extra.links %}

<div class="px-4 pt-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
  <div class="grid gap-10 row-gap-6 mb-8 sm:grid-cols-2 lg:grid-cols-4">
    <div class="sm:col-span-2">
      <a href="/" aria-label="Go home" title="Company" class="inline-flex items-center">
        <object data="/logos/{{- brand_name | lower -}}.svg" type="image/svg+xml" height="52px" width="48px"></object>
        <span class="ml-2 text-xl font-bold tracking-wide text-gray-800 uppercase">{{- config.extra.brand_name -}}</span>
      </a>
      <p class="mt-4 text-sm text-gray-500">
        Primodial is emerging new trend in fashion bringing hand made<br />
        outfits bringing comfort, style and trend in single place.
      </p>
    </div>
    <div class="space-y-2 text-sm">
      <p class="text-base font-bold tracking-wide text-gray-900">Contacts</p>
            {% if contact.phone%}
            <div class="flex">
                <p class="mr-1 text-gray-800">Phone:</p>
                <a href="tel:{{- contact.phone -}}" aria-label="Our phone" title="Our phone" class="transition-colors duration-300 text-deep-purple-accent-400 hover:text-deep-purple-800">{{- contact.phone -}}</a>
            </div>
            {% endif %}
            
            {% if contact.email %}
            <div class="flex">
                <p class="mr-1 text-gray-800">Email:</p>
                <a href="mailto:{{- contact.email -}}" aria-label="Our email" title="Our email" class="transition-colors duration-300 text-deep-purple-accent-400 hover:text-deep-purple-800">{{- contact.email -}}</a>
            </div>
            {% endif %}
         </div>
    <div>
      <span class="text-base font-bold tracking-wide text-gray-900">Social</span>
      <div class="flex items-center mt-1 space-x-3">
        <a href="{{- links.instagram -}}" target="_blank" class="text-gray-500 text-2xl transition-colors duration-300 hover:text-pink-500">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="{{- links.facebook -}}" target="_blank" class="text-gray-500 text-2xl transition-colors duration-300 hover:text-blue-500">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="{{- links.pinterest -}}" target="_blank" class="text-gray-500 text-2xl transition-colors duration-200 hover:text-red-500">
            <i class="fab fa-pinterest"></i>
        </a>
      </div>
      <p class="mt-4 text-sm text-gray-500">
        Following us on social media allows you to see our upcoming items, discounts offer, more pictures and so on
      </p>
    </div>
  </div>
  <div class="flex flex-col-reverse justify-between pt-5 pb-10 border-t lg:flex-row">
    <p class="text-sm text-gray-600">
            &copy; {{ config.extra.footer_copyright_text -}}
    </p>
    <ul class="flex flex-col mb-3 space-y-2 lg:mb-0 sm:space-y-0 sm:space-x-5 sm:flex-row">
            {% if links.faq %}
            <li>
                <a href="{{- links.faq -}}" class="text-sm text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">F.A.Q</a>
            </li>
            {% endif %}
            
            {% if links.privacy_policy %}
            <li>
                <a href="{{- links.privacy_policy -}}" class="text-sm text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Privacy Policy</a>
            </li>
            {% endif %}
            
            {% if links.terms_condition %}
            <li>
                <a href="{{- links.terms_condition -}}" class="text-sm text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Terms &amp; Conditions</a>
            </li>
            {% endif %}
    </ul>
  </div>
</div>
