<nav class="bg-white shadow dark:bg-gray-800">
        <div class="container px-6 py-4 mx-auto md:flex md:justify-between md:items-center">
            <div class="flex items-center justify-between">
                <div>
                <a class="text-2xl font-bold text-gray-800 dark:text-white lg:text-3xl hover:text-gray-700 dark:hover:text-gray-300" href="/">
                        {{- config.extra.brand_name | upper -}}
                    </a>
                </div>
                
                <div class="flex md:hidden">
                    <button type="button" class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400" aria-label="toggle menu" onclick="toggle_menu_visibility();">
                        <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                            <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                        </svg>
                    </button>
                </div>
            </div>

            <div class="items-center md:flex overflow-y-hidden transition transition-all hidden" id="i-am-menu-toggle">
                <div class="flex flex-col md:flex-row md:mx-6">
                    {% for menu in config.extra.menu %}
                        {% if not menu.cta %}
                            <a class="my-1 text-sm font-medium text-gray-700 dark:text-gray-200 hover:text-indigo-500 dark:hover:text-indigo-400 md:mx-4 md:my-0" href="{{- menu.path -}}">
                                {{- menu.label -}}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="my-1 font-medium text-gray-100 dark:text-gray-600">
                {% for menu in config.extra.menu %}
                    {% if menu.cta %}
                        <button type="button" class="bg-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-6 py-2 text-md focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-indigo-600">
                            <a href="{{- menu.path -}}">
                                {{ menu.label }}
                                {% if menu.icon %}<i class="{{- menu.icon -}}"> </i>{% endif %}
                            </a>
                        </button>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
</nav>
