<a name="checkout"></a>
<section class="text-gray-400 relative">
    <form id="checkout-data" class="py-10 w-full z-10" name="checkout-data" action="../order-success" data-netlify="true" data-netlify-recaptcha="true" netlify-honeypot="hit-me" method="POST" style="background: #1d4350; background-image: linear-gradient(to right, #1d4350, #a43931);" netlify>
        <div class="w-full md:w-3/4 lg:w-2/3 xl:1/2 h-auto bg-gray-400 bg-opacity-40 rounded-xl m-auto overflow-hidden text-white">
            <div class="container shadow-xl rounded-xl bg-opacity-60 bg-gray-400">
                <div class="p-4 text-center border-b border-gray-200 relative" title="Payment by paypal not yet accepted">
                    <span class="text-xl">Paypal</span>
                    <i class="fab fa-paypal text-3xl px-2"></i>
                    <span class="text-yellow-400 text-sm"><i class="fas fa-bug"></i> Currently unavailable</span>
                </div>
                <div class="p-4 text-center relative" title="Pay as we deliver">
                    <i class="fas fa-check text-green-700 text-4xl left-8 sm:absolute"></i>
                    <span class="text-xl">Cash On Delivery</span>
                    <i class="fas fa-shipping-fast text-3xl px-2"></i>
                </div>
            </div>

            {# A bot field #}
            <input type="text" name="hit-me" class="hidden" />

            <div class="container sm:grid gap-2 grid-cols-2">
                {% set data = "
                    First Name@first-name:
                    Last Name@last-name:
                    Phone@phone:
                    Email@email:
                    Country@country:
                    City@city:
                    Zip Code@zip-code:
                    Full Address Line@address-line
                " %}

                {% for field in data | split(pat=":") %}
                    {% set component = field | split(pat="@") %}
                    {% if 2 != component | length %}
                        {% continue %}
                    {% endif %}
                    {% set field_label = component | first | trim %}
                    {% set field_name = component | last | trim %}
                    <div class="p-2 border-0 border-color-white m-2">
                        <label class="text-lg font-bold text-gray-200 block ml-2" for="form-{{- field_name -}}">{{- field_label -}}: </label>
                        <input type="text" id="form-{{- field_name -}}" class="bg-transparent focus:outline-none text-lg border-2 border-gray-300 rounded-lg px-2 text-white py-1 px-2 w-full" name="{{- field_name -}}" title="Your {{ field_label }}" required="" />
                    </div>
                {% endfor %}
                <input type="hidden" name="product_slug" class="hidden" value="{{- page.slug -}}" readonly="" />
            </div>

            <div class="container">
                <div class="p-2 text-center">
                    <span class="text-sm">
                        By placing order, you agree to our <a href="#" target="_blank" class="text-pink-700 text-underline">Terms and condition</a>
                    </span>
                </div>
                <button type="submit" name="checkout-data" class="bg-pink-600 px-14 py-4 cursor-pointer text-center w-full">
                    <span class="text-gray-100 text-lg" />Place my order <i class="fas fa-paper-plane px-2"></i></span>
                </button>
            </div>
        </div>
    </form>
</section>
