<section class="w-full bg-gray-800"> 
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
        <div class="text-center pb-12">
            <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-white">Great things demand great team</h1>
            <h2 class="text-base font-bold text-indigo-600 my-2">And we got the best team combo!!</h2>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for team in page.extra.team %}
            <div class="w-full bg-gray-900 rounded-lg sahdow-lg p-12 flex flex-col justify-center items-center">
                <div class="mb-8">
                    <img class="object-center object-cover rounded-full h-36 w-36" src="{{- team.avatar -}}" alt="Avatar of {{- team.name -}}">
                </div>
                <div class="text-center">
                    <p class="text-xl text-white font-bold mb-2">{{- team.name -}}</p>
                    <p class="text-base text-gray-400 font-normal">{{- team.post -}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
