<a name="all-items"></a>

<a name="search"></a>
<div class="container flex mx-auto align-center justify-center">
    <div class="flex items-center border-4 border-gray-300 rounded-3xl bg-gray-200 focus-within:border-purple-400">
        <div class="pl-2">
            <svg class="fill-current text-gray-600 w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path class="heroicon-ui" d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" />
            </svg>
        </div>
        <input type="text" class="px-4 py-2 w-80 rounded-3xl border-none outline-none bg-gray-200 border-2" placeholder="Search items..">
    </div>
</div>

{% set shop_section = get_section(path="shop/_index.md") %}
{% set_global products = shop_section.pages %}
{% include "components/product_listing.html" %}
