{% set cover_image = "/images/hero/shop-hero.jpg" %}
<div class="w-full bg-cover bg-no-repeat bg-center" style="height:32rem; background-image: url({{- cover_image -}})">
        <div class="flex items-center justify-center h-full w-full bg-gray-900 bg-opacity-50">
            <div class="text-center">
            <h1 class="text-white text-2xl font-semibold uppercase md:text-3xl">Experience the outfit <span class="underline text-blue-400">Like never before</span></h1>
            <a href="#all-items">
                <button class="m-4 px-4 py-2 bg-blue-700 text-white text-sm uppercase font-medium rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-500 text-md">Explore all products</button>
            </a>
            <a href="#picked-items">
                <button class="m-4 px-4 py-2 bg-pink-700 text-white text-sm uppercase font-medium rounded hover:bg-pink-600 focus:outline-none focus:bg-pink-500 text-md">Explore picked products</button>
            </a>
            </div>
        </div>
    </div>
