<section id="Subscribes" class="text-center py-20 bg-blue-100">
<a name="newsletter"></a>
<div class="container">
<div class="flex justify-center mx-3">
<div class="w-full sm:w-3/4 md:w-2/3 lg:w-1/2">
<h2 class="mb-3 text-lg section-heading wow fadeInUp animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">CONNECT WITH US</h2>
<p class="mb-4 text-gray-600 leading-loose text-sm wow fadeInUp animated" data-wow-delay="0.6s" style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
    Subscribe to our newsletter. We will send you email regarding updates of new product, offers, stock and many more.
</p>
<form for="">
<div class="wow fadeInDown animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
<input type="Email" class="w-full mb-5 bg-white border border-blue-300 rounded-full px-5 py-3 duration-300 focus:border-blue-600 outline-none" name="email" placeholder="Email Address">
<button class="border-0 bg-blue-600 text-white rounded-full px-4 h-12 duration-300 hover:opacity-75" type="submit"><i class="fas fa-paper-plane px-2"></i> Take me in</button>
</div>
</form>
</div>
</div>
</div>
</section>
